.aboutContainer {
  min-height: 50vh;
  color: var(--white);
}

.information {
  margin-bottom: 2em;
}

.information p {
  padding: 15px;
  text-align: justify;
  line-height: 1.8rem;
  font-size: 1.3rem;
  font-family: 'robotothin';
}

@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 992px) {
  .information {
    padding: 3% 20%;
    padding-top: 0;
  }
}