.meContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 85vh;
  padding-top: 8%;
  color: var(--white);
  font-family: 'robotomedium';
}

.hi {
  margin-bottom: 1em;
  font-size: 0.9rem;
}

.title {
  margin-bottom: 0.5em;
  font-size: 1.9em;
}

.name {
  color: var(--aqua);
}

.dev {
  margin-bottom: 1em;
  font-size: 2.9em;
}

.paragraph {
  line-height: 1.2rem;
}

.meInfo {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.meImage {
  width: 400px;
  height: 450px;
}

@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 992px) {
  
}
