@font-face {
  font-family: 'robotoregular';
  src: url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url('../assets/fonts/roboto-medium-webfont.woff2') format('woff2'),
    url('../assets/fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url('../assets/fonts/roboto-thin-webfont.woff2') format('woff2'),
    url('../assets/fonts/roboto-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  font-family: 'robotoregular';
}

:root {
  --black: #000506;
  --blue: #132D46;
  --aqua: #01C38D;
  --gray: #696E79;
  --white: #F5F5FA;
}

body {
  background-color: var(--black);
}

.mainInitials {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'robotomedium';
  font-size: 2.5rem;
  color: var(--aqua);
}

.mainInitials img {
  width: 50px
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  padding: 0 1.5em;
}

.hamburgerMenu {
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.navbarList {
  display: none;
  justify-content: flex-end;
  align-items: center;
  font-family: 'robotomedium';
}

.navbarItem {
  margin: 0 1em;
  padding: 1em;
  text-transform: uppercase;
  color: var(--white);
  transition: 0.2s;
  cursor: pointer;
}

.navbarItem:hover {
  border-radius: 5px;
  background-color: var(--white);
  color: var(--aqua);
}

.titleSection {
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 3.5rem;
  color: var(--white);
}

#changeLang {
  display: flex;
}

#changeLang img {
  width: 25px;
  margin: 0 5px;
}

#switch {
  height: 0;
  width: 0;
  display: none;
}

#labelSwitch {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: var(--white);
  display: block;
  border-radius: 100px;
  position: relative;
}

#labelSwitch:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: var(--blue);
  border-radius: 15px;
  transition: 0.3s;
}

#switch:checked+label {
  background: var(--aqua);
}

#switch:checked+label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#labelSwitch:active:after {
  width: 25px;
}

@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 992px) {
  .hamburgerMenu {
    display: none;
  }

  .titleSection {
    font-size: 4.5rem;
  }

  .navbarList {
    display: flex;
  }
}